name: Build OpenWrt + Passwall2

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential clang flex bison g++ gawk \
          gcc-multilib gettext git libncurses5-dev libssl-dev python3-distutils \
          rsync unzip zlib1g-dev file wget

      - name: Clone OpenWrt
        run: |
          git clone https://github.com/openwrt/openwrt.git openwrt
          cd openwrt
          ./scripts/feeds update -a
          ./scripts/feeds install -a

      - name: Copy custom config
        run: |
          cp .config openwrt/.config

      - name: Build firmware
        run: |
          cd openwrt
          make defconfig
          make -j$(nproc) || make -j1 V=s

      - name: Upload firmware as artifact
        uses: actions/upload-artifact@v4
        with:
          name: firmware-WRT3200ACM
          path: openwrt/bin/targets/
